/* label color */
   .input-field label {
     color: #ef6c00 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ffcc80 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ffcc80 !important;
     box-shadow: 0 1px 0 0 #ffcc80 !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ffcc80 !important;
     box-shadow: 0 1px 0 0 #ffcc80 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red !important;
     box-shadow: 0 1px 0 0 red !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ffcc80 !important;
   }


/* label color password */
   .input-field label {
     color: #ef6c00 !important;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #ffcc80 !important;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #ffcc80 !important;
     box-shadow: 0 1px 0 0 #ffcc80 !important;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid #ffcc80 !important;
     box-shadow: 0 1px 0 0 #ffcc80 !important;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #ffcc80 !important;
     box-shadow: 0 1px 0 0 #ffcc80 !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ffcc80 !important;
   }

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ff9800;
     background-color: #ff9800;
}


